html {
    overflow-y: hidden;
    overflow-x: hidden;
}

header {
    min-height: 50px;
}

p {
    text-indent: 1.2em;
    font-size: large;
}

select {
    max-width: 100%;
    height: 50px;
    background-color: rgba(216, 216, 216, 0.835);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    flex-grow: 1;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 80px;
    padding-right: 310px; /* Ajusta el valor del padding-right para evitar superposición */
    position: relative; /* Añade esta propiedad */
}

section {
    overflow: hidden;
}

article {
    margin-top: 30px;
}

aside {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(216, 216, 216, 0.835);
    width: 300px;html {
    overflow-y: hidden;
    overflow-x: hidden;
}

header {
    min-height: 50px;
}

p {
    text-indent: 1.2em;
    font-size: large;
}

select {
    max-width: 100%;
    height: 50px;
    background-color: rgba(216, 216, 216, 0.835);
    float: right; /* Alinea el select a la derecha */
}


main {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 80px;
    padding-right: 310px; /* Ajusta el valor del padding-right para dar espacio al select */
    box-sizing: border-box;
}

section {
    overflow: hidden;
}

article {
    margin-top: 30px;
}

aside {
    position: sticky;
    top: 0;
    right: 0;
    background-color: rgba(216, 216, 216, 0.835);
    width: 300px;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 20px;
    z-index: 1; /* Asegura que el aside esté sobre el contenido */
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

div {
    border: 1px solid black;
}

table {
    display: table;
    border: 1px solid black;
    box-sizing: 100000px;
    border-collapse: collapse;
    margin: auto;
}

table.celdas tr td {
    border: 1px solid black;
    text-align-last: center;
    min-width: 100px;
}

table.cajas tr td {
    border: 1px solid black;
}

table.italiana {
    font-style: italic;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}

body {
    background-color: rgb(112, 130, 149);
    color: black;
}

.Negro {
    background-color: black;
    color: white;
}

.Verde {
    background-color: #59cf55;
}

.Rosa {
    background-color: #d0596f;
}

.Morado {
    background-color: #876aaf;
}

.Naranja {
    background-color: #FF5B04;
}

.Amarillo {
    background-color: #FFFF00;
}

    height: auto; /* Ajusta el alto para ocupar toda la altura del main */
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 20px;
    margin-top: 2px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

div {
    border: 1px solid black;
}

table {
    display: table;
    border: 1px solid black;
    box-sizing: 100000px;
    border-collapse: collapse;
    margin: auto;
}

table.celdas tr td {
    border: 1px solid black;
    text-align-last: center;
    min-width: 100px;
}

table.cajas tr td {
    border: 1px solid black;
}

table.italiana {
    font-style: italic;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}

body {
    background-color: rgb(112, 130, 149);
    color: black;
}

.Negro {
    background-color: black;
    color: white;
}

.Verde {
    background-color: #59cf55;
}

.Rosa {
    background-color: #d0596f;
}

.Morado {
    background-color: #876aaf;
}

.Naranja {
    background-color: #FF5B04;
}

.Amarillo {
    background-color: #FFFF00;
}
