.sidebar {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ccc; /* Cambia el color de fondo a gris */
    padding: 20px;
    border-left: 1px solid #dee2e6;
}  

.content {
  margin-right: 300px; /* Ancho del aside */
}

.table-container {
  height: 400px; /* Altura máxima de la tabla */
  overflow-y: auto; /* Hace que la tabla sea desplazable verticalmente */
}
