table{
    display: table;
    border-collapse: collapse;
    box-sizing: 100000px;
    border-color: black;
    background-color: aqua;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

body{
    background-color: rgb(3, 40, 81);
    color:black;
}

