body {
    background-color: rgb(112, 130, 149);
    color: black;
}

aside{
    background-color: rgb(36, 140, 189);
}

p.sangria{
    text-indent: 40px;
}
div>p{
    margin-bottom: 0px;
}

table{
    border: #b2b2b2 1px solid;
}
td, th{
    border: black 1px solid;
}