body {
    background-color: rgb(112, 130, 149);
    color: black;
}

aside{
    background-color: rgb(36, 140, 189);
}

p{
    text-indent: 50px;
}
p>p{
    margin-top: 0%;
    margin-bottom:0%;
}

table, th, td{
    border: 3px solid;
}
table{
    margin-left: 20px;
    margin-right: 20px;
}